<div class="row" *ngIf="statsData">
  <div class="col-xxxl-4 col-md-4">
    <ngx-status-card title="Current Balance (Rs)" value="{{statsData.total_balance}}" type="primary">
      <i class="fa fa-inr"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-4 col-md-4">
    <ngx-status-card title="Total Deals" value="{{statsData.total_deals}}" type="success">
      <i class="fa fa-briefcase"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-4 col-md-4">
    <ngx-status-card title="Total Downloads" value="{{statsData.total_downloads}}" type="info">
      <i class="fa fa-download"></i>
    </ngx-status-card>
  </div>  
</div>
<div class="row" *ngIf="statsData">
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <ngx-dealsummary activedeal="{{statsData.active_deals}}" inactivedeal="{{statsData.inactive_deals}}"></ngx-dealsummary>
  </div>

  <div class="col-xxxl-8 col-xxl-8 col-lg-7 col-md-6">
    <ngx-downloadgraph></ngx-downloadgraph>
  </div>
</div>