<form>
    
     <div class="alert alert-success" role="alert">
      Selected business: {{values | json}}
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="input-firstName">Business Service : (*)</label>
            </div>
            <div class="category1">                
                <div class="row">
                    <div class="col-md-12">
                        <ngx-treeview
                            [config]="config"
                            [items]="items"
                            (selectedChange)="onSelectedChange($event)">
                        </ngx-treeview>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="input-firstName">Company Info :</label>
            </div>
            <div class="category1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="input-firstName">Company Name (*)</label>
                            <input name="Company" type="text" id="input-company" class="form-control" placeholder="Company Name">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="input-firstName">Vendor Website</label>
                            <input name="url" type="text" id="input-url" class="form-control" placeholder="URL">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-12">
    		<button class="btn btn-hero-success">Save and Continue</button>
    	</div>
    </div>
</form>