<div class="row ">
    <div class="col-md-3 slider">
        <div class="filters-wrapper">
            <filters #filtersComponent [categories]='originalData.categories' [customFilters]='customFilters' [discountFilters]='discountFilters' (onFilterChange)='onFilterChange($event)'></filters>
        </div>
    </div>
    <div class="col-md-9 slider">
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let slider of sliders">
                <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                <div class="carousel-caption">
                    <h3>{{slider.label}}</h3>
                    <p>{{slider.text}}</p>
                </div>
            </ng-template>
        </ngb-carousel>
        <div class="deal-list">
            <div class="main-container">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <showcase [products]='products'></showcase>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>