@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
 .img-responsive {
    display: inline;
}
.img-rounded {
    border-radius: 6px;
    width:100%;
    height: 12rem;
    margin-bottom:2rem;
} 
}
