<div *ngIf="items.length > 0">
<div ng-multiplecarousel class="slides-wrapper" [items]="items" [width]="sliderWidth" [$prev]="prev" [$next]="next" [$item]="item"></div>
</div>
<ng-template #prev>
    <span *ngIf="items.length > 4"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span>
</ng-template>
<ng-template #next>
    <span *ngIf="items.length > 4"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
</ng-template>
<ng-template #item let-item let-i="index">    
    
    <div class="categoryItem">
        <div class="wrapper" (click)="redirect(item.id)">
            <div class="info">
                <div class="img-wrapper">
                    <img class="img" [src]='item.images[0]'>
                    <div class="img-placeholder"></div>
                </div>
                <h5 class="title">{{item.name}}</h5>
                <p class="price"><span>{{item.discount}}</span> % Discount</p>
            </div>
            <div class="bestseller-badge" [class.in-detailed]='detailViewActive' *ngIf='item.best_seller'>
                <span class="star left">&nbsp;</span>
                <span class="txt">Bestoffer</span>
                <span class="star right">&nbsp;</span>
            </div>
        </div>
    </div>
</ng-template>