<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
    
    <div class="logo-containter">
        <a  class="navigation" href="#/home/index"><i class="nb-home"></i></a>
        <a  class="menu" href="#/home/deals"> All</a>
        <a  class="menu" href="#/home/deals-food/5a290b2d539eb0b14cd91d0c"> Food & Beverages</a>
        <a  class="menu" href="#/home/deals-wellness/5a290b84539eb0b14cd91d1a"> Wellness</a>
        <a  class="menu" href="#/home/deals-spa/5a290ba6539eb0b14cd91d1f"> SPA</a>
        <a  class="menu" href="#/home/deals-entertainment/57d900c2df896e82ac1f8548"> Entertainment</a> 
        <a  class="menu" href="#/home/deals-travel/5a290c78539eb0b14cd91d37"> Travel</a> 
        <a  class="menu" href="#/home/deals-shopping/5a290c83539eb0b14cd91d39"> E Shopping</a>       
    </div>    
</div>

<div class="header-container" [class.left]="position === 'inverse'" [class.right]="position === 'normal'">
    <div class="logo-containter">       
        <a href="#/auth/register"  class="menu"> Register</a> 
        <a href="#/auth/login" class="menu"> Login</a>  
        <a class="menu">
            <i class="fa fa-map-marker"></i> 
            <select class="location" id="city" name="city" (change)="onChange($event)">
                <option *ngFor="let x of cities" [ngValue]="x.name">{{x.name}}</option>
            </select>           
        </a>
    </div>    
</div>