<div class="wrapper" >
    <div class="info">
        <div class="img-wrapper" (click)="redirect(product.id)">
            
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of product.images">
                    <img class="img-fluid-tumb mx-auto d-block" [src]="slider" alt="Random first slide" width="100%">
                </ng-template>
            </ngb-carousel>
        </div>
        <h5 class="title">{{product.name}}</h5>
        <p class="price"><span>{{product.discount}}</span> % Discount</p>
        <div class="details">
            <div class="available">
                <div class="row">
                    <div class="col-md-12">
                        <div class="clearfix">
                            <button type="button" class="btn btn-outline-success btn-tn float-left" (click)='onProductClick()'><i class="fa fa-chevron-circle-down" aria-hidden="true"></i> View more</button>
                            <button type="button" (click)="redirect(product.id)" class="btn btn-outline-success btn-tn float-right"><i class="fa fa-download" aria-hidden="true"></i> Coupon</button>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <!--span class="category-name" *ngFor='let category of product.categories'>{{category}}</span-->
        <div class="detail-view" [class.active]='detailViewActive'>
            <div class="bg" [class.shown]='detailViewActive'></div>
            <div class="info-wrapper">
                <p class="d-holder d-title">{{product.name}}</p>
                <p class="d-holder d-description">{{product.offerdetails}}</p>
                <p class="d-holder d-description">{{product.offer}}</p>
            </div>
            <button type="button" class="hide-detail-btn" (click)='onProductClick()'>Click to hide</button>
        </div>
    </div>
    <div class="bestseller-badge" [class.in-detailed]='detailViewActive' *ngIf='product.best_seller'>
        <span class="star left">&nbsp;</span>
        <span class="txt">Bestoffer</span>
        <span class="star right">&nbsp;</span>
    </div>
</div>